{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "extensions": [".jsx", ".js", ".json"],
        "alias": {
          "@assets": "./src/assets",
          "@components": "./src/components",
          "@pages": "./src/pages",
          "@services": "./src/services",
          "@routes": "./src/routes",
          "@styles": "./src/styles",
          "@redux": "./src/@redux",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
