@use '@common/styles/scss' as *;
#ProductManager {
	.header {
		display: flex;
		flex-direction: column;
		.row {
			display: flex;
			flex-direction: row;
			.item {
				margin-right: 5px;
				margin-top: 5px;
				margin-bottom: 5px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	.content {
		.pagination {
			margin-top: 10px;
		}
	}
}
