$green-color: #61a300;
$brightGreen-color: #85e000;
$text-color: #000000;
$bg-color: #f8ffef;
$white-color: #fff;
$darkGreen-color: #00502b;
$red-color: #ff3b3b;
$primaryGreen-color: #00d673;
$lightGreen-color: #eeffd4;
$border-color-btn: #a3a2a2;

$full-screen: 100%;
$full-height-screen: 100vh;

$title-size: 28px;
$default-fontSize: 16px;

$mobile-width: 600px;
$tablet-width: 1024px;

$box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
